To practice performing statistical inference in Python, we begin by importing a 2015 dataset that contains information on rollercoasters in international amusement parks. Take a glimpse at the data using the *head( )* , *tail( )*, or *describe( )* functions to familiarize yourself with the variables.

In [1]:
# Add libraries
import pandas as pd

# Import data 
Coasters = pd.read_csv(Coasters_2015.csv)

# Glimpse data
Coasters.tail()

,Name,Park,Track,Speed,Height,Drop,Length,Duration,Inversions
236,Thunderbird,Holiday World,Steel,60.0,140.0,NaN,3035.0,78.0,1
237,Twisted Colossus,Six Flags Magic Mountain,Steel,57.0,121.0,128.0,4990.0,220.0,1
238,Velikoluksky Miasokombinat,Wonder Island,Steel,62.1,124.7,NaN,3464.6,150.0,1
239,Wicked Cyclone,Six Flags New England,Steel,55.0,109.0,NaN,3320.0,NaN,1
240,Zombie Ride,Bosque M‡gico,Steel,62.0,150.0,NaN,863.0,NaN,1

## One-sample t-test

We will begin by performing a one-sample t-test. Recall that the purpose of this parametric test is to determine if there is a significant difference between a sample mean and the hypothesized population mean.

Lets say we were interested in learning the true average speed of roller coasters in this dataset. Lets begin by finding the mean!

In [3]:
# Add Libraries
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp

# Find mean
mean_value = np.mean(Coasters[Speed])

print("Mean:", mean_value)

Mean: 55.350622406639026

Roller coaster expert, Biddy Martin, previously stated that roller coasters actually travel at an average speed of 52 mph. Lets put her word to the test and perform a one-sample t-test to determine if this is likely to be true based on our sample.

In [17]:
# Perform a one-sample t-test using ttest_1samp

# Assign the results of our test to two variables
t_test_value, p_value = ttest_1samp(Coasters[Speed], 52)

# View the results
print("P Value:", p_value)
print("t-test Value:", t_test_value)

P Value: 0.005748417140227706
t-test Value: 2.7868265618258343

Great work! We have just performed our first one-sample t-test. Now lets instruct Python to determine for us whether or not the P Value for our t-test is small enough to reject the null hypothesis that the average speed is 52 mph.

In [20]:
# Let's use 0.05 or 5% as the significance level of alpha.
if p_value < 0.05:
    
    print("Reject the null hypothesis")
    
else:
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

Unfortunately, it appears that Biddy may have been wrong, as we have to reject the null hypothesis that the average speed of a roller coaster is 52 mph at a significant level of 0.05. What a shocker! Biddy usually gets this stuff right.

In [19]:
# Note: We do not need to assign the output of the function ttest_1samp to two values.
# Python automatically outputs our t-test value and p-value.
# However, it is good practice to assign these values so we can reuse them later.

ttest_1samp(Coasters[Speed], 52)

Ttest_1sampResult(statistic=2.7868265618258343, pvalue=0.005748417140227706)

## Two-sample t-test

Recall that a two-sample t-test is used to determine if there is a significant difference between the sample means of two independent groups. This statistical inference method is also know as the independent samples t-test. Using the same dataset as before, lets see if the mean speed is the same for roller coasters made of wood and steel.

As usual, we will start off by adding the libraries and functions we will need to use. Then, we will need to create two new dataframes from our original dataset. This is so *ttest_ind* will be able to easily tell if there is a difference in the mean speed of our two groups: wooden rollercoasters and steel rollercoasters.

In [27]:
# Add libraries and functions
from scipy.stats import ttest_ind

# Separates the data into two new dataframes, where one is only Steel rollercoasters and the other is only Wood
steel = Coasters[Coasters.Track == "Steel"]
wood = Coasters[Coasters.Track == "Wood"]

# Confirm this for yourself by looking at the first few rows of each dataframe
steel.head()
wood.head()

,Name,Park,Track,Speed,Height,Drop,Length,Duration,Inversions
11,Son Of Beast,Paramount's Kings Island,Wood,78.4,218.0,214.0,7032.0,NaN,1
19,Rattler,Six Flags Fiesta Texas,Wood,73.0,179.5,166.5,5080.0,146.0,0
28,Boss,Six Flags St. Louis,Wood,66.3,122.0,150.0,5051.0,NaN,0
29,American Eagle,Six Flags Great America,Wood,66.0,127.0,147.0,4650.0,143.0,0
33,Hercules,Dorney Park,Wood,65.0,95.0,151.0,4000.0,135.0,0

Now that we have completed our set-up, let's put our data to the test and find out if there is a significant difference between the two track types of roller coasters.

In [29]:
# Perform two-sample t-test

# Assign the results of our test to two variables
# IMPORTANT, "ttest_ind" requires you to specify a variable within your dataset
stat, p = ttest_ind(steel["Speed"], wood["Speed"])

# Display the results
print("p-values:", p)
print("t-test:", stat)

p-values: 0.42908098032852415
t-test: -0.7921118189812297

In [30]:
# Let's use 0.05 or 5% as the significance level of alpha.
if p < 0.05:
    
    print("Reject the null hypothesis")
    
else:
    print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis

At a significance level of 0.05, we fail to reject the null hypothesis that the speeds of the two different track types of roller coasters are the same. Let's take a look at the actual means of our data and see what we think.

In [34]:
# Find the mean speed for steel tracks
print(np.mean(steel["Speed"]))

54.99811320754719

In [33]:
# Find the mean speed for wooden tracks
print(np.mean(wood["Speed"]))

57.92758620689655

Some might argue that the difference between the mean speeds is substantial. However, according to our test, we lack sufficient evidence to reject the null hypothesis and state that speed changes depending on track type. Oh well. Maybe with a different sample dataset!

## Paired sample t-test
Our next statistical inference task is to complete a paired sample t-test, or a dependent sample t-test, on our Coasters dataset. Remind yourselves that a paired sample t-test checks if the mean difference between two observations of the same group is 0. These tests are particularly useful to determine the impact of a treatment in an experiment.

In this example, the data comes from Dr. Chico’s introductory statistics class. Students in the class take two tests over the course of the semester. Dr. Chico gives notoriously difficult exams with the intention of motivating her students to work hard in the class and thus learn as much as possible. Dr. Chico’s theory is that the first test will serve as a “wake up call” for her students, such that when they realize how difficult the class actually is they will be motivated to study harder and earn a higher grade on the second test than they got on the first test.

To determine if Dr. Chico's "wake up call" truly works, let's perform a paired sample t-test to determine whether or not a student's performance on the second exam is significantly different from their performance on the first exam. 

https://brendanhcullen.github.io/psy611/labs/lab-9.html#data

Let's begin by importing the data and taking a look at its format.

In [39]:
# Import data 
Chico = pd.read_csv("chico_wide.csv")

# Glimpse data
Chico.tail()

           id  grade_test1  grade_test2
15  student16         58.7         60.1
16  student17         50.1         51.7
17  student18         64.2         65.6
18  student19         57.4         58.3
19  student20         57.1         60.1

Before we can begin our test, we will need to create two separate sets of data: one with the scores from the first exam and one with the scores from the second exam.

In [44]:
# Scores on the first exam
exam1 = Chico['grade_test1']

# Scores on the second exam
exam2 = Chico['grade_test2']

Now that we have prepared our data, let's test our null hypothesis that Dr. Chico's theory produces no significant difference in students' performance.

In [47]:
# Add method for our paired test
from scipy.stats import ttest_rel

# Assign the results of our test to two variables
stat, p = ttest_rel(exam1, exam2)

# Display the results
print("p-values:", p)
print("t-test:", stat)

p-values: 3.320670056126948e-06
t-test: -6.475436088339379

In [48]:
# Let's use 0.05 or 5% as the significance level of alpha.
if p < 0.05:
    
    print("Reject the null hypothesis")
    
else:
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

When alpha is equal to 0.05, we reject the null hypothesis that Dr. Chico's theory produces no significant difference in students' performance. Rather, it appears that students performed significantly better on the second exam, which may be a result of Dr. Chico making the first exam particularly challenging.

## One-way ANOVA

In the case where we have two or multiple groups that we would like to compare at the same time