In [10]:
# Import data 
Movies = pd.read_csv('movies.csv')

# Glimpse data
Movies.tail()

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
1789,1971,tt0067741,Shaft,notalk,notalk,FAIL,53012938,70327868.0,107190108.0,1971FAIL,305063707,404702718.0,616827003.0,NaN,NaN
1790,1971,tt0067800,Straw Dogs,notalk,notalk,FAIL,25000000,10324441.0,11253821.0,1971FAIL,143862856,59412143.0,64760273.0,NaN,NaN
1791,1971,tt0067116,The French Connection,notalk,notalk,FAIL,2200000,41158757.0,41158757.0,1971FAIL,12659931,236848653.0,236848653.0,NaN,NaN
1792,1971,tt0067992,Willy Wonka &amp; the Chocolate Factory,men-disagree,men,FAIL,3000000,4000000.0,4000000.0,1971FAIL,17263543,23018057.0,23018057.0,NaN,NaN
1793,1970,tt0065466,Beyond the Valley of the Dolls,ok,ok,PASS,1000000,9000000.0,9000000.0,1970PASS,5997631,53978683.0,53978683.0,NaN,NaN

In [14]:
# Libraries
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp

# Find mean
mean_value = np.mean(Movies['domgross'])

print("Mean:", mean_value)

Mean: 69132048.27912211

In [21]:
# T-TEST

t_test_value, p_value = ttest_1samp(Movies['domgross'], 7000000)

print("P Value:", p_value)
print("t-test Value:", t_test_value)

# 0.05 or 5% is significance value of alpha.
if p_value < 0.05:
    
    print("Hypothesis Rejected")
    
else:
    print("Hypothesis Accepted")

P Value: nan
t-test Value: nan
Hypothesis Accepted

In [22]:
# Create data 
data = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])

# Find mean
mean_value = np.mean(data)

print("Mean:", mean_value)

Mean: 70.5

In [23]:
# T-TEST

t_test_value, p_value = ttest_1samp(data, 68)

print("P Value:", p_value)
print("t-test Value:", t_test_value)

# 0.05 or 5% is significance value of alpha.
if p_value < 0.05:
    
    print("Hypothesis Rejected")
    
else:
    print("Hypothesis Accepted")

P Value: 0.5986851106160134
t-test Value: 0.5454725779039431
Hypothesis Accepted

In [24]:
# Two-sample t-test
from scipy.stats import ttest_ind

# Create numpy arrays
# Do we need to now explain arrays?
data1 = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])
data2 = np.array([53, 43, 31, 113, 33, 57, 27, 23, 24, 43])

# Compare samples
stat, p = ttest_ind(data1, data2)

print("p-values:", p)
print("t-test:", stat)

p-values: 0.015170931362451255
t-test: 2.6835879913819185