# Univariate Data Exploration

Although there are multiple ways to calculate these statistics, we will specifically use pandas for the following reasons:
1. Pandas by itself can calculate all the statistics in a univariate data exploration process. For other packages, we would have to mix and match
2. Pandas is data-centric, taking dataframes as inputs. In other words, pandas treats a dataframe as the main object. This is very similar to R!

## Mean

In [10]:
# Example of calculating mean

# Import pandas library
import pandas as pd #Note that you can name the library however you want. "pd" is just a convention that we follow

# Create dataframe
raw_data = {"name" : ["A", "B", "C", "D", "E"],
       "gender": ["M","F", "F", "M", "F"],
       "age": [18, 20, 19, 22, 17],
       "GPA": [3.9, 3.7, 3.0, 4.0, 3.3]}

# To officially make it a pandas dataframe, we need this code
data = pd.DataFrame(raw_data, columns = ["name", "gender", "age", "GPA"])

# Look at the data
data

  name gender  age  GPA
0    A      M   18  3.9
1    B      F   20  3.7
2    C      F   19  3.0
3    D      M   22  4.0
4    E      F   17  3.3

In [13]:
# Calculate mean across dataframe. axis = 0 is by column, axis = 1 is by row
mean_all = data.mean(axis = 0)
print(mean_all)

# If you only need mean of one column, you can specify the column to calculate. Default setting is by column
mean_age = data["age"].mean()
print(mean_age)

# Q: The book says axis = 0 represents the mean ALONG THE ROWS, which I found a bit unclear

age    19.20
GPA     3.58
dtype: float64
19.2

C:\Users\nguye\AppData\Local\Temp\ipykernel_5364\3449074759.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_all = data.mean(axis = 0)